<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REsult 20222</title>
    <link rel="stylesheet" href="\css\index.css">
</head>
<body>
    <div class="site-wrapper">
        <div class="header-wrap">
            <h1 class="site-hdr">Result Management System</h1>
        </div>
        <div class="main-content">
              <div class="main-hdr">Login As</div>
              <br>
              <br>
              <div class="main-form">
                  <a class="teacher-btn" href="/teacher">Teacher</a>
                  <a class="student-btn" href="/student">Student</a>
              </div>   
        </div>
    </div>
</body>
</html>