.main-content{
    width: 100%;
}
.table-wrapper{
    width: 100% !important;
    margin: 0 auto;
    height: 60vh;
    overflow-y: auto;
}
.table-hdr{
    display: flex;
    justify-content: space-between;
}
.stud-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
    margin: 0 auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
  button[type="submit"]{
      border:none;
      background-color: white;
  }
  .action-area{
      display: flex;
      justify-content: space-around;
  }